html,
body {
    width: 1440px;
    margin: 0 auto;
    
}

.content {
    width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
    
    
}

.header {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #192252;    
}

.nav {
    
}

.header__nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #192252;    
}

.nav-item {
    display: inline;
}

.header__btn{
    
}

.started {
    color: white;
    width: 121px;
    height: 47px;
    background: #0E1734;
    border-radius: 4px;  
    padding-top: 11px  
}

/* MAIN */
.main__page {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.main__info {
    align-items: center;
    width: 50%;
}

.main__text {
    margin-top: 20%;
    padding-right: 20px;
}

.main__title {
    max-width: 587px;
}

.main__subtitle {
    max-width: 420px;
}

.main__btn {
    width: 156px;
    height: 51px;
    background: #0E1734;
    border-radius: 4px;
    color: white;
    padding-top: 11px
}

a {
    
    color: white;
    text-decoration: none;
}




h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    


    color: #848FAC;
}





.main__img {
    
    width: 50%;
}
.img__content {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.center {
    padding-top: 80px;
}

.hotel {
    display: flex;
}

.hotel__img {
    width: 40%;
}
.hotel__photo {
}
.hotel__text {
    margin-top: 13%;
    width: 60%;
}
.hotel__title {
}
.hotel__subtitle {
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;    
    letter-spacing: -0.01em;    
    color: #192252;
}
.hotel__btn {
    padding-top: 11px;
    
}
.btn {
    width: 151px;
    height: 51px;    
    background: #0E1734;
    border-radius: 4px;
}

.kitchen {
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
}

.activities {
    width: 60%;
    margin-top: 10%;
}
.actinvities__text {
    padding-right: 10%;
}
.kitchen__drink {
    width: 40%;
}
.drink__img {
}
.kitchen__food {

}
.food_img {
    width: 40%;
}
.kitchen__text {
    margin-top: 10%;
    width: 60%;
}
.kitchen__title {
    padding-left: 15%;
}

.choose {
    margin-top: 160px; 
    text-align: center;
}

.choose__content {
    margin: 0 auto;
    max-width: 588px;
}

/* ***** ROOMS ***** */
.rooms {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.single,
.double,
.cootage  {
    width: 30%; 
       
}

.single__img {
    width: 100%;
    margin-bottom: 32px;
    object-fit: fill;
    max-width: 360px;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

/* ***** RESERVATION ***** */
.reservation {
   
    display: flex;
    justify-content: space-between;
    max-height: 596px;
}

.get__room {
    margin-top: 15%;
    width: 50%;
}

.get__content {
    max-width: 487px;
}

h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    
    color: #424F7B;
}

.more {
    position: relative;
    margin-left: 24px;
}

.room__reserv {
    margin-top: 10%;
    width: 50%;
}

.accordion-button:not(.collapsed) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
    background-color: #fff;
}

.accordion-button:not(.collapsed) {
    border-color: #fff;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    transition: 0.5s;
    background-image: url(/img/down.png), url(/img/round.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/img/Arrow.png), url(/img/orange.png);
    transform: none;
}
.accordion-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #424F7B;
    margin-top: 24px;
}

.accordion-item {
    border: none;
}

/* ***** CUSTOMERS ***** */
.customers {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.customer__item {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}
.name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #192252;
}

.carousel {
    height: 657px;
}
.carousel-indicators {
    bottom: 132px;
}

.carousel-indicators [data-bs-target] {
    
    width: 12px;
    height: 12px;
    background: url(/img/impRound.png) no-repeat;
}

.carousel-indicators .active {
    padding-bottom: 10px;
    width: 12px;
    height: 12px;
    background: url(/img/bigRound.png) no-repeat;
}

/* ***** CONTACTS ***** */

.contacts {
    
    background-color: #0B265A;;
   
   
    height: 444px;

}

.cont__item {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 444px;
    align-items: start;
    padding-top: 120px;
}

.cont {
    width: 20%;
}

.cont__title {
    padding-left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    
    color: #FFFFFF;
}

.co {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
}

.icons {
    margin-right: 24px;
}

.step {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #D9DBDE;
    margin-bottom: 10px;
}

.end {
    margin-bottom: 10px;
}